.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 40000;
}

.App-link {
  color: #61dafb;
}

.menu {
  display: flex;
  width: 95%;
  justify-content: space-around;
  gap: 100px;
  list-style-type: none;
}

.usermenu {
  display: flex;
  justify-content: end;
}

.homemenu {
  display: flex;
  list-style-type: none;
  gap: 100px;
}

.login {
  text-align: right;
  text-decoration: "none";
}

p {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: cloumn;
  height: 100%;
  background-color: aquamarine;
  padding-left: 0;
}

.left-sidebar {
  /* flex-direction: cloumn; */
  flex-basis: 20%;
  /* hidden part again!! */
  /* margin-top: 11vh; */
  background: #fff;
  /* z-index: ; */
}

.page-wrapper {
  background-color: #ffdbf0;
  flex-basis: 80%;
  height: 100%;
}

footer {
  height: 19vh;
  background-color: #61dafb;
}
